{% extends '::base.html.twig' %}

{% block body -%}
    <h1>books</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Site</th>
                <td>{{ entity.site }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Bookid</th>
                <td>{{ entity.bookid }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>Count</th>
                <td>{{ entity.count }}</td>
            </tr>
            <tr>
                <th>Updatetime</th>
                <td>{{ entity.updatetime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Intro</th>
                <td>{{ entity.intro }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('books') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('books_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
