{% extends 'c0710204bootstrapcrudBundle:Default:crudindex.html.twig' %}
{% block crud_title_list %}
mirrorapt list
{% endblock  %}
{% block crud_toolbar %}
        <!--prefix:/mirrors/apt -->
        <a class="btn btn-default" target='_black' type="text/text" href="{{ path('mirrorapt_genmirrorlist', { 'prefix': '\\mirrors\\apt' }) }}">
            <span class="glyphicon glyphicon-floppy-save"></span>
        </a>      
{% endblock %}
{% block crud_table_head %}
                <th>所属源id</th>
                <th>对应系统类型</th>
                <th>Url</th>
                <th>版本</th>
                <th>软件类型</th>
{% endblock  %}
{% block crud_table_row_id %}
{{ path('mirrorapt_show', { 'id': entity.id }) }}
{% endblock %}
{% block crud_table_row %}
                <td><a href="{{ path('mirrorinfo_show', { 'id': entity.id }) }}">{{ entity.mirrorid }}</a></td>
                <td>{{ entity.kind }}</td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.version }}</td>
                <td>{{ entity.softtype }}</td>
{% endblock %}
{% block crud_table_row_edit %}
{{ path('mirrorapt_edit', { 'id': entity.id }) }}
{% endblock %}
{% block crud_table_row_show %}
{{ path('mirrorapt_show', { 'id': entity.id }) }}
{% endblock %}
{% block crud_new %}
{{ path('mirrorapt_new') }}
{% endblock %}
{% block crud_newmodal %}
{{ path('mirrorapt_new') }}
{% endblock %}